.App {
  background: #eeeeee;
  min-height: 100vh;
}
.App-header {
  &__header-container {
    display: flex;
    align-items: center;
    padding: 10px 10%;
    background: #ffe600;
    @media (max-width: 768px) {
      padding: 10px 15px;
    }
  }
}
